In [1]:
import csv, sqlite3
import prettytable
prettytable.DEFAULT = 'DEFAULT'

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [2]:
import pandas as pd
path='C:/Users/Nancy Sorroza Rojas/Desktop/Pool/Proyectos Data Science/Space X practice/data/Spacex.csv'
df = pd.read_csv(path)
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

In [3]:
tables = pd.read_sql_query("SELECT * FROM sqlite_master WHERE type='table';", con)
tables

,type,name,tbl_name,rootpage,sql
0,table,SPACEXTBL,SPACEXTBL,2,"CREATE TABLE ""SPACEXTBL"" (\n""Date"" TEXT,\n ""T..."

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [6]:
cur.execute('''
    SELECT DISTINCT Launch_Site
    FROM SPACEXTBL;
''')

query = cur.fetchall()

print("Names of the unique launch sites in the space mission:")
for row in query:
    print( row[0])

Names of the unique launch sites in the space mission:
CCAFS LC-40
VAFB SLC-4E
KSC LC-39A
CCAFS SLC-40


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [7]:
cur.execute('''
    SELECT * 
    FROM SPACEXTBL
    WHERE Launch_Site LIKE 'CCA%'
    LIMIT 5;
''')

query = cur.fetchall()

print("Display 5 records where launch sites begin with the string 'CCA':")
for row in query:
    print(row,'\n')

Display 5 records where launch sites begin with the string 'CCA':
('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)')

('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)')

('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt')

('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')

('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [8]:
cur.execute('''
    SELECT SUM(PAYLOAD_MASS__KG_) AS total_payload_mass
    FROM SPACEXTBL
    WHERE Customer = 'NASA (CRS)';
''')

query = cur.fetchall()

print("Display the total payload mass carried by boosters launched by NASA (CRS):")
for row in query:
    print(row[0])

Display the total payload mass carried by boosters launched by NASA (CRS):
45596

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [9]:
cur.execute('''
    SELECT AVG(PAYLOAD_MASS__KG_) AS average_payload_mass
    FROM SPACEXTBL
    WHERE Booster_Version = 'F9 v1.1';
''')

query = cur.fetchall()

print("Display average payload mass carried by booster version F9 v1.1:")
for row in query:
    print(row[0])

Display average payload mass carried by booster version F9 v1.1:
2928.4

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [10]:
cur.execute('''
    SELECT MIN(Date)
    FROM SPACEXTBL
    WHERE Landing_Outcome = 'Success (ground pad)';
''')

query = cur.fetchall()

print("List the date when the first succesful landing outcome in ground pad was acheived.:")
for row in query:
    print(row[0])

List the date when the first succesful landing outcome in ground pad was acheived.:
2015-12-22

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [11]:
cur.execute('''
    SELECT Booster_Version
    FROM SPACEXTBL
    WHERE Landing_Outcome = 'Success (drone ship)'
    AND PAYLOAD_MASS__KG_ BETWEEN 4000 AND 6000;
''')

query = cur.fetchall()

print("List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000:")
for row in query:
    print(row[0])

List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000:
F9 FT B1022
F9 FT B1026
F9 FT  B1021.2
F9 FT  B1031.2

### Task 7




##### List the total number of successful and failure mission outcomes

In [12]:
cur.execute('''
    SELECT 
        SUM(CASE WHEN Landing_Outcome LIKE '%Success%' THEN 1 ELSE 0 END) AS count_success,
        SUM(CASE WHEN Landing_Outcome LIKE '%Failure%' THEN 1 ELSE 0 END) AS count_failure
    FROM SPACEXTBL;
''')

query = cur.fetchall()

print("List the total number of successful and failure mission outcomes:")
for row in query:
    print("Success:", row[0], " | Failure:", row[1])

List the total number of successful and failure mission outcomes:
Success: 61  | Failure: 10

### Task 8



##### List all the booster_versions that have carried the maximum payload mass, using a subquery with a suitable aggregate function.

In [13]:
cur.execute('''
    SELECT Booster_Version 
    FROM (
        SELECT Booster_Version, MAX(PAYLOAD_MASS__KG_) AS max_payload_mass
        FROM SPACEXTBL
        GROUP BY Booster_Version
    )
    WHERE max_payload_mass = (
        SELECT MAX(PAYLOAD_MASS__KG_)
        FROM SPACEXTBL
    );
''')

query = cur.fetchall()

print("List all the booster_versions that have carried the maximum payload mass, using a subquery with a suitable aggregate function.:")
for row in query:
    print(row[0])

List all the booster_versions that have carried the maximum payload mass, using a subquery with a suitable aggregate function.:
F9 B5 B1048.4
F9 B5 B1048.5
F9 B5 B1049.4
F9 B5 B1049.5
F9 B5 B1049.7
F9 B5 B1051.3
F9 B5 B1051.4
F9 B5 B1051.6
F9 B5 B1056.4
F9 B5 B1058.3
F9 B5 B1060.2
F9 B5 B1060.3

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [14]:
cur.execute('''
    SELECT CASE substr(Date, 6, 2)
            WHEN '01' THEN 'January'
            WHEN '02' THEN 'February'
            WHEN '03' THEN 'March'
            WHEN '04' THEN 'April'
            WHEN '05' THEN 'May'
            WHEN '06' THEN 'June'
            WHEN '07' THEN 'July'
            WHEN '08' THEN 'August'
            WHEN '09' THEN 'September'
            WHEN '10' THEN 'October'
            WHEN '11' THEN 'November'
            WHEN '12' THEN 'December'
        END AS month_name,
        Landing_Outcome, 
        Booster_Version, 
        Launch_Site
    FROM SPACEXTBL
    WHERE Landing_Outcome = 'Failure (drone ship)' 
        AND substr(Date, 0, 5)='2015';
''')

query = cur.fetchall()

print("List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.:")
for row in query:
    print(row)

List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.:
('January', 'Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40')
('April', 'Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40')

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [15]:
cur.execute('''
    SELECT Landing_Outcome, count_landing_outcome
    FROM(
        SELECT Landing_Outcome, COUNT(Landing_Outcome) AS count_landing_outcome
        FROM SPACEXTBL
        WHERE Date BETWEEN '2010-06-04' AND '2017-03-20'
        GROUP BY Landing_Outcome 
    )
    WHERE Landing_Outcome = 'Failure (drone ship)' 
       OR Landing_Outcome = 'Success (ground pad)'
    ORDER BY count_landing_outcome DESC
''')

query = cur.fetchall()

print("Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.:")
for row in query:
    print(row)

Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.:
('Failure (drone ship)', 5)
('Success (ground pad)', 3)

# Close DataBase

In [16]:
con.close()